### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
logs/
*.log

### OS files ###
.DS_Store
Thumbs.db

### Others ###
*.class
*.jar
*.war
*.ear
